@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Define the animation for the slide enter transition */
.slide-prev-enter {
  transform: translateX(-20%);
}
.slide-prev-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}
.slide-next-enter {
  transform: translateX(20%);
}
.slide-next-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}

.slide-prev-exit {
  transform: translateX(0);
}

.slide-prev-exit-active {
  transform: translateX(-20%);
  transition: transform 300ms ease-in-out;
}

.slide-next-exit {
  transform: translateX(0);
}

.slide-next-exit-active {
  transform: translateX(20%);
  transition: transform 300ms ease-in-out;
}

.slide-current-exit{
  transform: translateX(0);
}

.slide-current-exit-active {
  opacity: 0;
  transition: all 300ms ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
